.chat-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 150vh;
  }
  
  .chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #e5ddd5;
    padding: 20px;
  }
  
  .chat-messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .message {
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 60%;
  }
  
  .chat input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  